body
{
    text-align: left;
}
#ttr_sidebar
{
    border-left: 1px solid black;
}
#ttr_footer
{
    width: 100%;
    border-top: 1px #a2a2a2 solid;
    text-align: center;
}
.title
{
    font-size: 11pt;
    font-family: verdana;
    font-weight: bold;
}

.site {
    background-color: cadetblue;
}

div.col-lg-12 col-sm-12 col-md-12 col-12 ul {
    margin:20px 0px 20px 0px;
    list-style-type: none;
    list-style: none;
    list-style-image: none;
    text-align:right;
}
div.col-lg-12 col-sm-12 col-md-12 col-12 li {
    padding: 0px 20px 0px 0px;
    display: inline;
}
div.col-lg-12 col-sm-12 col-md-12 col-12 a {
    color:#FFFFFF;
}